<!doctype html>
<html lang="fr">
  <head>
    <title>Fibonaci API</title>
  </head>
  <body>
    <h1>Fibonacci API</h1>
    <br>
    <form id="fibonacci" class="fibonacci">
      <label>Compute a Fibonacci value:</label>
      <input id="number_fibonacci" name="number_fibonacci" required size="100">
      <input type="submit" value="Compute">
    </form>

    <h1> Result :</h1>
    <span id="result_fibonacci">Make a request</span>
    <br>
    <br>
    <br>
    <form id="inverted_fibonacci" class="inverted_fibonacci">
      <label>Compute an inverted Fibonacci value:</label>
      <input id="number_inverted_fibonacci" name="number_inverted_fibonacci" required size="100">
      <input type="submit" value="Compute">
    </form>

    <h1> Result :</h1>
    <span id="result_inverted_fibonacci">Make a request</span>

  </body>
  <script src="/js/index.js"></script>
</html>