<!doctype html>
<html lang="fr">
  <head>
    <title>Fibonaci API</title>
  </head>
  <style>
    .result {
        display: block;
        max-height: 200px;
        overflow-y: scroll;
        word-break: break-all;
        border: 1px solid;
    }
  </style>
  <body>
    <h1>Fibonacci API</h1>
    <br>
    <form id="fibonacci" class="fibonacci">
      <label>Compute a Fibonacci value:</label>
      <input id="number_fibonacci" name="number_fibonacci" required size="100">
      <input type="submit" value="Compute">
    </form>

    <h1> Result :</h1>
    <span id="result_fibonacci" class="result">Make a request</span>
    <br>
    <br>
    <br>
    <form id="inverted_fibonacci" class="inverted_fibonacci">
      <label>Compute an inverted Fibonacci value:</label>
      <input id="number_inverted_fibonacci" name="number_inverted_fibonacci" required size="100">
      <input type="submit" value="Compute">
    </form>

    <h1> Result :</h1>
    <span id="result_inverted_fibonacci" class="result">Make a request</span>

  </body>
  <script src="/js/index.js"></script>
</html>